.page-content {
    width: 100%;
}

h1 {
    max-width: 1250px;
    margin: 0 auto;
    font-weight: 900;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: start;
}

.collection-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.collection-title {
    padding: 10px;
}

.collection-count {
    display: inline-block;
    background-color: #76bafa;
    color: white;
    border-radius: 10%;
    padding: 0.3em 0.3em;
}

.collection-name {
    font-weight: bold;
    margin-left: 10px;
}

.collection-left {
    flex: 1;
    max-width: 15%;
    padding: 20px;

}

.collection-left ul {
    list-style: none;
    padding: 0;
}

.collection-left ul li {
    margin-bottom: 10px;
}

.collection-right {
    flex: 3;
    max-width: 85%;
    padding: 20px;
    background-color: #fff;
}

.loading {
    text-align: center;
}