
a {
    text-decoration: none;
    outline: none;
    color: unset;
}

.links {
    display: flex;
    max-width: 1250px;
    justify-content: end;
    margin: 0 auto;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.links a {
    font-family: "Oswald Regular", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 0 26px;
}

.links .active {
    border: #666666 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.text-connected {
    font-family: "Oswald Regular", sans-serif;
    background-color: #76bafa;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 0 26px;
}